.entrance-form {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: left;
  
  width: 100%;
  max-width: 358px;
}

.entrance-form__input {
  background-color: #202020;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  border: none;
  border-bottom: 1px solid #424242;
  padding: 5px 0 10px 0;
  width: 100%;
}

.entrance-form__input_margin {
  margin-bottom: 24px;
}

.entrance-form__input_hidden {
  display: none;
}

.entrance-form__input:focus  {
  outline: none;
}

.entrance-form__input:-webkit-autofill
{
  -webkit-box-shadow: 0 0 0 30px #000 inset;
  -webkit-text-fill-color: #fff;
}

.entrance-form__button-submit {
  margin: 150px 0 16px;
  padding: 0;
  max-width: 396px;
  width: 100%;
  min-height: 45px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFF;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  transition: all .3s ease-out;
}

.entrance-form__button-submit:hover {
  opacity: .6;
  cursor: pointer;
  transition: all .3s ease-out;
}

@media screen and (max-width: 425px) {
  .entrance {
    padding: 0 30px;
  }
  
  .entrance-form__logo {
    text-align: center;
  }

  .entrance-form__title {
    text-align: center;
  }

  .entrance-form__question {
    font-size: 12px;
    line-height: 15px;
  }
}